body {
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0;
}

.navbar {
  max-width: 140rem;
  /* justify-content: center; */
  /* display: flex; */
}

.hehe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 140rem;

  padding: 16px;
  background-color: antiquewhite;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  gap: 16px;
}

.item-image {
  width: 120px;
}

.shopping-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
  margin: 18px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid black;
  width: 18rem;
  flex-shrink: 1;
  border-radius: 16px;
  padding: 8px;
}
